<dt><%= h(title) %> Exception</dt>
<dd><%= h(exception.to_s) %></dd>
<dt><%= h(title) %> Exception Backtrace</dt>
<dd>
  <ol>
    <% exception.backtrace.each do |line| %>
      <li><%= h(line) %></li>
    <% end %>
  </ol>
</dd>
