doctype 5
html
  head
    meta charset=("UTF-8")
    title= TurnipFormatter::Template.project_name + ' report'

    == TurnipFormatter::Template.render_stylesheet_links
    style== TurnipFormatter::Template.render_stylesheet_codes

    script src="https://code.jquery.com/jquery-1.11.0.min.js"
    script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.0/jquery.tablesorter.min.js"

    == TurnipFormatter::Template.render_javascript_links
    script== TurnipFormatter::Template.render_javascript_codes

  body
    header#report
      .container
        .page-header
          h1 = "#{TurnipFormatter::Template.project_name} Report"

        section#status_display_switch
          label for="passed_check"
            input#passed_check type="checkbox"
            | Passed
          label for="failed_check"
            input#failed_check type="checkbox" checked="checked"
            | Failed
          label for="pending_check"
            input#pending_check type="checkbox"
            | Pending

        section.result
          p = "#{scenarios.size} Scenario (#{failed_count} failed #{pending_count} pending)."
          p = "Finished in #{total_time.to_s} sec"

    #main.container role="main"
      ul#statistics class="nav nav-tabs"
        li.active
          a data-toggle="tab" href="#steps-statistics"
            | Steps
        li
          a data-toggle="tab" href="#speed-statistics"
            | Speed Statistics
        li
          a data-toggle="tab" href="#feature-statistics"
            | Feature Statistics
        li
          a data-toggle="tab" href="#tag-statistics"
            | Tag Statistics

      .tab-content
        #steps-statistics class="tab-pane active"
          .checkbox
            label
              input#scenario_display_check  type="checkbox" checked="checked"
              | Folding
          #scenarios.panel-group
            - scenarios.each do |s|
              == ::TurnipFormatter::Printer::Scenario.print_out(s)

        #feature-statistics.tab-pane
          h4 The results for the feature:
          == TurnipFormatter::Printer::TabFeatureStatistics.print_out(scenarios)

        #tag-statistics.tab-pane
          h4 The results for the tab:
          == TurnipFormatter::Printer::TabTagStatistics.print_out(scenarios)

        #speed-statistics.tab-pane
          h4 Ranking of running time of each <strong>successfully</strong> scenario:
          == TurnipFormatter::Printer::TabSpeedStatistics.print_out(scenarios)

    footer
      p
        | Generated by &nbsp;
        a href="https://rubygems.org/gems/turnip_formatter"
          = "turnip_formatter #{TurnipFormatter::VERSION}"
      p
        | Powered by
        a href="http://jquery.com/"
          | &nbsp;jQuery 1.11.0
        | &nbsp; and &nbsp;
        a href="http://mottie.github.io/tablesorter/"
          | tablesorter 2.17.0
