<div id="report">
  <h1>Turnip Report</h1>
  <section class="checkbox">
    <label for="passed_check">Passed</label><input type="checkbox" id="passed_check">
    <label for="failed_check">Failed</label><input type="checkbox" checked id="failed_check">
    <label for="pending_check">Pending</label><input type="checkbox" id="pending_check">
  </section>

  <section class="result">
    <p>
      <span id="total_count"></span> Scenario (<span id="failed_count"></span> failed <span id="pending_count"></span> pending).
    </p>
    <p>Finished in <span id="total_time"></span></p>
  </section>
</div>
