<li class="step <%= step.status %>">
  <span><%= h(step.name) %></span>
  <div class="args">
    <%= TurnipFormatter::Printer::StepExtraArgs.print_out(step.extra_args) %>
    <%= step_docs %>
  </div>
</li>
