<table>
  <thead>
    <tr>
      <th>Наименование фичи</th>
      <th>Наименование сценария</th>
      <th>Продолжительность</th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |info| %>
      <tr>
        <td>
          <span><%= ERB::Util.h(info.feature_name) %></span>
        </td>
        <td>
          <a href="#<%= info.id %>"><%= ERB::Util.h(info.name) %></a>
        </td>
        <td>
          <span><%= info.run_time %> sec</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
