%section.exception
  %h1 TurnipFormatter RuntimeError
  %dl
    = runtime_exception

    %dt Example Full Description
    %dd&= example.metadata[:full_description]

    = example_exception

    - if example.pending
      %dt Example Pending description
      %dd&= example.metadata[:description]
